<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Cikkszám</th>
        <th scope="col">Termék</th>
        <th scope="col">Leírás</th>
        <th scope="col">Ár</th>
        <th scope="col">Kép</th>
        <th scope="col">Eltávolítás</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row" [id]="product.itemid">{{ product.itemid }}</th>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.prize }}</td>
        <td><img [src]="product.image" alt="image"></td>
        <td><button class="btn btn-warning" (click)="removeFromCart(product)">X</button></td>
      </tr>
      <tr id="prize">
          <td colspan="5">Összesen: <strong>{{ sum }} Ft</strong></td>
          <td><button class="btn btn-primary" [attr.disabled]="canNotCheckout?'true':null" (click)="checkout()">Megrendelem</button></td>
      </tr>
    </tbody>
  </table>